body{
    background-image: url("images/coolbackground.jpg") ;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
a:hover{
	color: white;
	font-size: 200%;
}
a{
	color: magenta;
	font-size: 200%;
}
h1{
	color: #FFFFFF;
	font-size:325%;
}
h2{
	color:#FFFFFF;
	font-size: 125%; 
}
#bio{
	background-image: url("images/bio.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	display:block;
	margin:0;
	width: 35%;
}
p{
	color:#FFFFFF;
	font-size: 125%;
}