body{
	background-image: url("image/techback.jpg") ;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

}
a:hover{
	color: white;
	font-size: 200%;
	
}
a{
	color: magenta;
	font-size: 200%;
}
h2{
	color: #ff9900;
}
h1{
	color: #ff9900;
}
p{
	color: #ffffff;
	
}